<h1> All users on Blog on Rails </h1>

<% @users.each do |user| %>
    <ul class="user-listing">
        <div class="row">
            <div class="well col-md-4 col-md-offset-4" align="center">
                <li><%= link_to  gravatar_for(user, size: 50), user_path(user) %></li>
                <li class="article-title"><%= link_to  user.username, user_path(user) %>
                <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
            </div>
        </div>
    </ul>
<% end %>