<div class="jumbotron">
  <h1>Welcome to Blog on Rails!</h1>
  <p>A basic blog application made with Ruby on Rails. What can it do?</p>
  <p><%= link_to  "Sign up here!", signup_path, class: 'btn btn-default btn-lg btn-xlarge' %></p>
</div>